@import "mixins";
@import "variables";

html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-color: $lightGray;
}

body, html {
  font-family: "Outfit", sans-serif;
}

h2, h3 {
  padding: 0;
  margin: 0;    
}

